#KODE TERMUX // KODE SCRIPT SC AUTORES

$ pkg update && pkg upgrade
$ pkg install nodejs
$ pkg install php
$ pkg install git
$ pkg install imagemagick
& cd
$ cd /sdcard
$ ls
$ php index.php

NOTE : APABILA EROR ? TNYA KAN ADMIN / PT ADMIN
